on:
  workflow_call:
    inputs:
      plugin_id:
        type: number
        required: true
      internal_name:
        type: string
        required: true
      dotnet_version:
        type: string
        required: true
      project_file:
        type: string
        required: false
      dalamud_version:
        type: number
        required: true
      testing:
        type: boolean
        required: false
    secrets:
      publisher_key:
        required: true
    outputs:
      completed:
        description: "`'true'` if a new version was built and published."
        value: ${{ jobs.check_version.outputs.should_build }}
      version:
        value: ${{ jobs.check_version.outputs.local_version }}
      release_type:
        description: "`testing` or `latest`"
        value: ${{ jobs.check_version.outputs.release_type }}

jobs:
  check_version:
    runs-on: ubuntu-latest
    outputs:
      should_build: ${{ steps.check_version.outputs.build }}
      project_file: ${{ steps.check_version.outputs.project_file }}
      local_version: ${{ steps.check_version.outputs.local_version }}
      remote_version: ${{ steps.check_version.outputs.remote_version }}
      release_type: ${{ steps.check_version.outputs.release_type }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install xq
        run: curl -sSL https://bit.ly/install-xq | sudo bash

      - name: Compare version with published
        id: check_version
        run: |
          project_file="${{ inputs.project_file }}"
          if [ -z "$project_file" ]; then
            i=0
            find . -name '*.csproj' -print0 | while IFS= read -r -d $'\0' file; do
              echo "$file"
              project_file="$file"
              i=$((i + 1))
            done

            if (( i != 1 )); then
              echo >&2 "Configuration error: project_file was not specified and more than one .csproj was found in the repository. Exiting."
              exit 1
            fi
          fi
          echo "project_file=$project_file" >> $GITHUB_OUTPUT

          local_version=$(xq -x //PropertyGroup/Version < ${{ inputs.project_file }})
          echo "local_version=$local_version" >> $GITHUB_OUTPUT

          release_type=latest
          if [ '${{ inputs.testing }}' == 'true' ]; then
            release_type=testing
          fi
          echo "release_type=$release_type"

          remote_version=$(curl -f https://puni.sh/api/plugins/${{ inputs.plugin_id }}/${{ inputs.internal_name }}/versions/$release_type || echo "0.0.0.0")
          echo "remote_version=$remote_version" >> $GITHUB_OUTPUT

          if printf '%s\n%s\n' "$local_version" "$remote_version" | sort --check=quiet --version-sort; then
            echo build=false >> $GITHUB_OUTPUT
          else
            echo build=true >> $GITHUB_OUTPUT
          fi

  build:
    runs-on: ubuntu-latest
    needs: check_version
    env:
      DALAMUD_HOME: /tmp/dalamud
    if: needs.check_version.outputs.should_build == 'true'
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: ${{ inputs.dotnet_version }}
          
      - name: Download Dalamud Latest
        run: |
          wget https://goatcorp.github.io/dalamud-distrib/latest.zip -O ${{ env.DALAMUD_HOME }}.zip
          unzip ${{ env.DALAMUD_HOME }}.zip -d ${{ env.DALAMUD_HOME }}

      - name: Compile
        run: |
          dotnet build -c Release ${{ needs.check_version.outputs.project_file }} -o /tmp/plugin-build
          cp $(find /tmp/plugin-build -name latest.zip) /tmp/latest.zip
          unzip -l /tmp/latest.zip

      - name: Upload build output
        uses: actions/upload-artifact@v4
        with:
          name: latest_zip
          path: /tmp/latest.zip

  publish:
    runs-on: ubuntu-latest
    needs:
      - check_version
      - build
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: latest_zip

      - name: Publish new release
        uses: PunishXIV/dynamis-action@v1
        with:
          plugin_id: ${{ inputs.plugin_id }}
          internal_name: ${{ inputs.internal_name }}
          version_number: ${{ needs.check_version.outputs.local_version }}
          path: latest.zip
          type: ${{ inputs.testing && 'testing' || 'latest' }}
          dalamud_version: ${{ inputs.dalamud_version }}
        env:
          PUBLISHER_KEY: ${{ secrets.publisher_key }}
